.btn-login{
   /* border-radius: 0px;*/
    background-color: #FF0000;
    border: 1px solid #FF0000;
}
.btn-login:hover{
    /*background-color: #08ae9e;*/
    background-color: #FF0000;
    border-color: #FF0000;
}
.btn-login:active,.btn-login:focus{
    background-color: #FF0000 !important;
    border: 1px solid #FF0000;
}


.panel-default>.panel-heading{
    /*background-color: #FF0000;*/
    /*color: #FFFFFF;*/
    font-weight: bold;
}

.logo-home{
    width: 150px;
}

.form-group.has-error .error, .form-group label.error{
    color: #FF0000;
    font-weight: normal;
}

.form-group input.error{
    border-color: #FF0000;
}